.add-btn{
    font-size: 25px;
    font-weight: 500;
    padding: 10px;
    margin: 30px;
    width: 200px;
    background-color: #ebeef1;
    cursor:pointer;
    border: none;
    border-radius: 50px;
    color: #00a037;
    box-shadow: 10px 10px 10px -1px rgba(10 ,99,169,0.16),
    -10px -10px 10px -1px rgba(255,  255, 255   , 0.70)
}